* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}
.px-10 {
  padding-right: 4.50rem;
  padding-left: 4.50rem;
}
body {
  font-family: "Open Sans", sans-serif;
  height: 1000px;
}
html {
  scroll-behavior: smooth;
}
#navbar {
  color: white;
}
#nav-item {
  color: white;
  transition: color 0.3s;
}
#nav-item:hover,
#item:focus {
  color: #47b2e4;
}
#hero {
  background-color: #37517e;
}
.nav-item {
  margin: 5px 5px;
  display: flex;
  align-items: center;
}
#get_started {
  border: 2px solid #47b2e4;
  padding: 0 10px;
  border-radius: 50px;
  margin-left: 25px;
  transition: background-color 0.3s;
}
#get_started:hover {
  background-color: #47b2e4;
}
#sense {
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 500;
  color: white;
}
#dropdown-menu {
  background-color: white;
  color: #37517e;
}
#dropdown-menu a {
  color: #37517e;
}
#dropdown-menu a:hover,
#dropdown-menu a:focus {
  color: #47b2e4;
  background-color: white;
}
#get_started-a {
  color: white;
}
.material-symbols-outlined {
  color: white;
  font-size: 35px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
#hero {
  background-color: #37517e;
  height: auto;
}
#hero-h1 {
  color: white;
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
  margin-top: 100px;
}
#hero-h3 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 400;
  font-size: 24px;
  line-height: 30px;
}
#hero-get-started {
  text-decoration: none;
  color: white;
  background-color: #47b2e4;
  padding: 12.5px 30px;
  border-radius: 50px;
  font-weight: 500;
  margin: 0;
}
#hero-get-started:hover {
  background: #209dd8;
}
#row {
  margin: 75px 0;
}
#hero-watch-video {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}
#hero-watch-video:hover .material-symbols-outlined {
  color: #73c5eb;
}
#hero-col-2 {
  margin-bottom: 50px;
}
#hero-col-2-img {
  width: 80%;
  height: auto;
  margin-top: 20vh;
  transition: transform 3s;
  animation: upDown 6s infinite;
}
@keyframes upDown {
  50% {
    transform: translate(0, -10px);
  }

  100% {
    transform: translate(0, 8px);
  }
}
#sponsor {
  background-color: #e9ecef;
}
#sponsor-img {
  width: 90px;
  height: auto;
  padding: 25px 0;
  filter: grayscale(100%);
}
#sponsor-img:hover {
  filter: grayscale(0%);
  transform: scale(1.25);
  padding-bottom: 5px;
}
.sponsor {
  background-color: #f3f5fa;
}
.bi-check2-all {
  color: #47b2e4;
}
.divider {
  background-color: #ddd;
  height: 1px;
  width: 120px;
  margin: auto;
  margin-bottom: 30px;
}
.divider::after {
  content: "";
  position: relative;
  display: inline-block;
  background-color: #47b2e4;
  width: 40px;
  height: 3px;
  top: -16px;
  right: -3vw;
}
#about-list {
  list-style: none;
  margin-bottom: 12.5px;
}
#about-ul {
  padding: 0;
}
#about-a {
  padding: 10px 30px;
  border: 2px solid #47b2e4;
  color: #47b2e4;
}
#about-a:hover {
  background-color: #47b2e4;
  color: white;
}
.section-4 {
  background-color: #f3f5fa;
  padding: 100px 0;
}
#accordion-item {
  border-radius: 5px;
}
#accordion-btn:hover,
#accordion-btn:focus {
  color: #47b2e4;
}
#accordion-span {
  color: #47b2e4;
}
.accordion-h2 {
  color: #37517e;
}
.accordion-p {
  color: #848484;
}
#accordion-btn {
  outline: none;
}
#accordion-btn:focus {
  outline: 0;
  border: #fff;
}
#progress-h2 {
  color: #37517e;
}
.progress-bar {
  background-color: #4668a2;
}
#heading {
  color: #37517e;
  font-weight: 800;
}
.services {
  background-color: #f3f5fa;
}
#services-icon {
  color: #47b2e4;
  text-align: left;
}
#services-col {
  background-color: #fff;
  width: 88%;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
}
#services-col:hover {
  transform: translate(0, -5px);
}
#services-col:hover #services-h4 {
  color: #47b2e4;
}
header {
  background: color 0;
}
.accordion-button {
  background-color: #fff !important;
}
.accordion-button:focus {
  border-color: #fff !important;
  outline: none;
}
.accordion {
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0 white !important;
}
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
#services-h4 {
  color: #4668a2;
}
.services-p {
  color: #444;
}
.cta {
  background-image: linear-gradient(
      rgba(40, 58, 90, 0.9),
      rgba(40, 58, 90, 0.9)
    ),
    url(../images/baptiste-buisson-oUV7dlmXKms-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 55vh;
  background-attachment: fixed;
}

.cta-text {
  color: #fff;
}
.cta-col-2 {
  min-height: 50px;
}
.portfolio {
  background-color: #fff;
}
.nav-tabs {
  border-bottom: none;
}
#cta-link:hover {
  border: none !important;
  background-color: #47b2e4;
  padding: 0 2px;
}
.tab-link {
  color: black !important;
  background-color: #fff !important;
  --bs-nav-tabs-link-active-border-color: color 0;
}
.tab-link:hover,
.tab-link:focus {
  background-color: #47b2e4 !important;
  color: #fff !important;
}
.image-fluid {
  width: 100%;
  height: auto;
}

.progress {
  border-radius: 0 !important;
  height: 10px;
}
.progress-h6 {
  font-size: smaller;
}
.team {
  background-color: #f3f5fa;
}
.team-img {
  height: 25vh;
  width: 150px;
}
#team-col {
  width: 50%;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}
#team-col:hover {
  transform: translateY(-5px);
}
.h5 {
  color: #4668a2;
}
.divider-2::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 50px;
  background-color: #cbd6e9;
}
.team-icon {
  color: #4668a2;
  background-color: #eff2f8;
  margin-right: 10px;
  padding: 10px 12px;
}
.team-icon:hover {
  color: #ffffff;
  background-color: #47b2e4;
}
#pricing-col {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  padding-bottom: 70px;
}
.divider-3 {
  display: inline-block;
  margin-left: 0;
  background-color: #47b2e4;
  height: 5px;
  width: 100%;
  position: absolute;
}
#pricing-col-heading {
  color: #37517e;
}
#per-month {
  color: #47b2e4;
}
#pricing-list {
  color: #999;
  line-height: 40px;
}
.pricing-icon {
  color: #198754 !important;
  font-weight: medium;
  font-size: 20px;
}
.pricing-get-started {
  color: #47b2e4;
  text-decoration: none;
  padding: 12px 30px;
  border-color: #47b2e4 !important;
}
.pricing-get-started-2 {
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px;
  border-color: #47b2e4 !important;
  background-color: #47b2e4;
}
.pricing-get-started-2:hover {
  background-color: #23a3df;
}

.pricing-get-started:hover {
  background-color: #47b2e4;
  color: #ffffff;
}
.faq {
  background-color: #f3f5fa;
}
#contact-col-1 {
  flex-basis: 39%;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  padding: 0;
  position: relative;
}
#contact-col-2 {
  flex-basis: 59%;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  padding: 0;
  position: relative;
}
.divider-4 {
  background-color: #47b2e4;
  height: 3px;
  width: 100%;
  position: absolute;
}
#geo-span {
  background-color: #e7f5fb;
  padding: 10px 12.5px;
  color: #47b2e4;
  margin-right: 10px;
  margin-top: 50px;
}
#geo-span:hover {
  background-color: #47b2e4;
  color: white;
}
.location {
  color: #37517e;
  margin-bottom: 30px;
}
.contact-p {
  color: #6182ba;
  margin-left: 4vw;
  font-size: small;
}
#maps {
  width: 100%;
  height: 300px;
}
#name,
#email {
  width: 45%;
}
#subject {
  width: 100%;
}
input {
  height: 45px;
  border: 2px solid #ddd;
}
textarea {
  border: 2px solid #dddddd;
}
#send {
  color: white;
  background-color: #47b2e4;
  margin-left: 35%;
  margin-top: 15px;
  padding: 10px 30px;
}
#send:hover {
  background: #23a3df;
}
#bla {
  padding-top: 28px !important;
  padding-bottom: 28px;
}

.scrolled {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;
  width: 100vw!important;
}

.scrolled div {
  background-color: darkgrey;
  z-index: 2000;
}

.menu div div div nav div button {
  z-index: 2000;
}

.menu div {
  transition: background-color 0.15s;
}.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
  color: #6c757d;
  font-size: 14px;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #6c757d;
  font-size: 18px;
}
.footer div div div p a{
  text-decoration: none;
}

@media (max-width: 575px) {
  .menu div {
    padding-right: 30px !important;
    padding-left: 10px !important;
    width: 100vw
  }
  .menu {
    width: 100vw!important;
  }
  #hero {
    min-height: 100vh;
    max-width: 100vw;
  }
  #hero-col-2 {
    height: 40vh;
  }
  #hero-col-2-img {
    margin-top: 15vh;
  }
  #hero-img {
    width: 60%;
    margin-top: 0
  }
  #get_started {
    width:30vw!important;
    margin-left:0!important;
  }
  #team-col {
    width: 100%;
    display: block!important;
  }
  #hero-h1 {
    margin-top: 20px;
  }
  .team-img {
    width: 25vh;
    margin-bottom: 20px;
  }
  #pricing-col {
    height: 60vh;
    margin-bottom:20px; 
  }
  #text-area{
    width: 90vw;
  }
  #contact-col-1 {
    flex-basis: 100%!important;
    margin-bottom: 20px;
  }
  #contact-col-2 {
    flex-basis: 100%!important
  }
  #send {
    margin-left: 25%
  }
  .contact-p{
    margin-left: 55px;
  }
}
