* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#navbar {
    color: white;
}

#nav-item {
    color: white;
    transition: color 0.3s;
}

#nav-item:hover,
#item:focus {
    color: #47b2e4;
}

#hero {
    background-color: #37517e;
}

.nav-item {
    margin: 5px 5px;
    display: flex;
    align-items: center;
}

#get_started {
    border: 2px solid #47b2e4;
    padding: 0 10px;
    border-radius: 50px;
    margin-left: 25px;
    transition: background-color 0.3s;
}

#get_started:hover {
    background-color: #47b2e4;
}

#sense {
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 500;
    color: white;
}

#dropdown-menu {
    background-color: white;
    color: #37517e;
}

#dropdown-menu a {
    color: #37517e;
}

#dropdown-menu a:hover,
#dropdown-menu a:focus {
    color: #47b2e4;
    background-color: white;
}

#get_started-a {
    color: white;
}

.material-symbols-outlined {
    color: white;
    font-size: 35px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

#hero {
    background-color: #37517e;
}

#hero-h1 {
    color: white;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    margin-top: 100px;
}

#hero-h3 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 400;
    font-size: 24px;
    line-height: 30px;
}

#hero-get-started {
    text-decoration: none;
    color: white;
    background-color: #47b2e4;
    padding: 12.5px 30px;
    border-radius: 50px;
    font-weight: 500;
    margin: 0;
}

#hero-get-started:hover {
    background: #209dd8;
}

#row {
    margin: 75px 0;
}

#hero-watch-video {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

#hero-watch-video:hover .material-symbols-outlined {
    color: #73c5eb;
}

.col {
    display: flex;
    align-items: center;
}

#hero-col-2 {
    margin-bottom: 50px;
    position: relative;
}

#hero-col-2-img {
    width: 90%;
    height: auto;
    transition: transform 3s;
    animation: upDown 6s infinite;
    position: absolute;
    bottom: 10px;

}

@keyframes upDown {
    50% {
        transform: translate(0, -10px);
    }

    100% {
        transform: translate(0, 8px);
    }
}

#sponsor {
    background-color: #e9ecef;
}

#sponsor-img {
    width: 90px;
    height: auto;
    padding: 25px 0;
    filter: grayscale(100%)
}

#sponsor-img:hover {
    filter: grayscale(0%);
    transform: scale(1.25);
    padding-bottom: 5px;
}

.sponsor {
    background-color: #f3f5fa;
}

.bi-check2-all {
    color: #47b2e4;
}

.divider {
    background-color: #ddd;
    height: 1px;
    width: 120px;
    margin: auto;
    margin-bottom: 30px;
}

.divider::after {
    content: "";
    position: relative;
    display: inline-block;
    background-color: #47b2e4;
    width: 40px;
    height: 3px;
    top: -15px;
    right: -26px;
}

#about-h1 {
    color: #37517e;
}

#about-list {
    list-style: none;
    margin-bottom: 12.5px;
}

#about-ul {
    padding: 0;
}

#about-h1 {
    font-weight: 800;
}
#about-a {
    padding: 10px 30px;
    border: 2px solid #47b2e4;
    color: #47b2e4;
}
#about-a:hover {
    background-color: #47b2e4;
    color: white;
}